header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: 500;
    font-size: large;
    color: brown;
    text-align: center;
}

header:hover{
    background: #05d1ff;
}

p::first-letter{
    color: #ffff;
    font-size: x-large; 
}

h2::after{
    content: "*";
    font-style: 20px;
    color: blue;
}

h3{
    letter-spacing: 1px; 
}

p{
    letter-spacing: 1px;
    line-height: 100%;
    text-align: left; 
}

div{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.article-container{
    background-color: rgb(0, 255, 221);
    color: black;
    padding: 20px;
    border: 10px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: lighter;
    line-height: 30% ;
    margin: 10px;
}
.article-container:hover{
    background-color: purple;
    color: white;
    font-weight: bold;
}

.highlight{
    background-color: cyan
    color: black;
}

.highlight:hover{
    background-color: red;
    color: white;
}

